html, body {
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-part {
    background-color:#1F2937; 
    padding-bottom:50px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
    display:flex;
    margin-left:48px;
    flex-grow:1;
}

a {
    font-size:18px;
    color:#E5E7EB;
    display:flex;
    margin-right:48px;
    text-decoration:none;
}


.bottom-top-part {
    display:flex;
    justify-content:center;
    background-color:#1F2937;
    padding:48px;
    gap:50px;
}

.hero {
    display:flex;
    flex-direction:column;
}


.main-text {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
    margin-bottom:0px;
}

.secondary-text {
    font-size:18px;
    color:#E5E7EB;
    flex-wrap:wrap;
}

.image1 {
    width:400px;
    height:auto;
}

.sign-up {
    background-color:#3882F6;
    color:#E5E7EB;
    width:90px;
    height:30px;
    font-weight:bolder;
    border-radius:5px;
    border:0px groove blue;
}

/* This is the end of the top section of the webpage */

.title {
    text-align:center;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    margin:70px;
}

.image2 {
    width:200px;
    height:auto;
    border-radius:15%;
    border:5px groove blue;
}

.main-content {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-right:32px;
    padding-bottom:50px;
}

.main-images {
    display:flex;
    gap:50px;
}

.line-break {
    flex-basis:100%;
    height:0;
}

.content-text {
    display:flex;
    justify-content: space-around;
    text-align: center;
    gap:110px;
}

.text {
    width:150px;
}

/* This is the end of the main content section */

.quote-content {
    display:flex;
    flex-direction:column;
    background-color:#E5E7EB;
    justify-content:center;
    align-items:center;
    padding:75px;
}

.quote {
    font-size:36px;
    font-weight:lighter;
    width:800px;
    margin-bottom:0px;
}

.signed-by {
    font-weight:bolder;
    margin-left:550px;
    margin-top:0px;
}

/* This is the end of the quote section */

.action-container {
    display:flex;
    background-color:#F9FAF8;
    justify-content:center;
}

.call-to-action {
    display:flex;
    justify-content:space-between;
    align-items: center;;
    background-color:#3882F6;
    color:#E5E7EB;
    padding:20px;
    margin-top:50px;
    margin-bottom:50px;
    width:1000px;
}

.action-body {
    display:flex;
    flex-direction:column;
    margin-left:100px;
}

.action-heading {
    margin-bottom: 0px;
}

.real-action-button {
    display:flex;
    border:2px groove white;
    align-items: center;
    border-radius:5px;
    margin-right:100px;
    background-color:#3882F6;
    color:#E5E7EB;
    font-weight: bolder;
    padding:5px 25px;
}

/* This is the end of the call to action segment */

.footer{
    display:flex;
    justify-content:center;
    background-color: #1F2937;
    color:#E5E7EB;
}


